.select {
  width: 600px;
  height: 50px;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .select {
    width: 100%;
  }
}

.title {
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 18px;
}
