.mainBlock {
  width: calc(100% - 40px);
  padding: 15px 20px 15px 20px;
  background: skyblue;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}

.navigation {
  margin: 0 0 0 20px;
  cursor: pointer;
}
