.mainBlock {
  width: 600px;
  margin: 30px auto 0 auto;
}

.titleBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dummy {
  width: 80px;
  height: 30px;
}

.reviewBlock {
  margin: 0 0 20px 0;
  border-radius: 10px;
  border: 1px solid #eaeaea;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 0 0 20px 0;
}

.noResult {
  text-align: center;
  font-size: 20px;
  margin: 100px 0 0 0;
  font-weight: 500;
  color: gray;
}
